@import "mocha.css";

* {
  font-family: JetBrainsMono NFP;
  font-size: 14px;
  min-height: 0;
}

#waybar {
  background: #1D1D1F;
  color: #F2F2F7;
  margin: 5px 5px;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: #2C2C2E;
  margin-left: 1rem;
}

#workspaces button {
  color: #A0A0A5;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: #34A853;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: #5AC8FA;
  border-radius: 1rem;
}

/* Styles for modules in "modules-left" */
#hyprland-workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: #2C2C2E; /* Same as workspaces background */
}

#hyprland-workspaces button {
  color: #A0A0A5; /* Subtle gray */
  border-radius: 1rem;
  padding: 0.4rem;
}

#hyprland-workspaces button.active {
  color: @sky;
  border-radius: 1rem;
}

#hyprland-workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#hyprland-window {
  color: @text;
  border-radius: 1rem;
  margin-left: 2rem;
  
}

/* Styles for modules in "modules-right" */
#network {
  color: #B0B0B0;
  margin: 3px;
}

#bluetooth {
  color: @cyan;
  border-radius: 1rem;
  margin: 5px;
}

#cpu {
  color: #5A6F8E;
  margin-left: 5px;
  margin-right: 5px;
}

#memory {
  color: #5A6F8E;
  border-radius: 1rem;
  margin-left: 5px;
  margin-right: 5px;
}

#hyprland-language {
  color: @text;
  border-radius: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

#battery {
  color: #008080;
  margin-left: 1rem;
  margin-right: 1rem;
}

#battery.charging {
  color: #FFD700;
  margin-left: 1rem;
  margin-right: 1rem;
}

#battery.warning:not(.charging) {
  color: @red;
  margin-left: 1rem;
  margin-right: 1rem;
}

#backlight {
  color: #FFFFFF;
  border-radius: 0;
  margin-left: 10px;
}

#pulseaudio {
  color: #4A90E2;
  margin-left: 5px;
  
}

#pulseaudio#microphone {
  color: @maroon;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 0.5rem;
  
}

#clock {
  color: #F4D03F;
  border-radius: 0px 1rem 1rem 0px;
  margin-left: 1rem;
}

/* General styles for additional modules */
#custom-music {
  color: @mauve;
  border-radius: 1rem;
}

#custom-lock {
  border-radius: 1rem 0px 0px 1rem;
  color: @lavender;
}

#custom-power {
  margin-right: 1rem;
  border-radius: 0px 1rem 1rem 0px;
  color: @red;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}

#custom-weather{
  margin-right: 0.5rem;
  border-radius: 0px 1rem 1rem 0px;
  margin-left: 1rem;
}

#custom-notification{
  margin-right: 0.5rem;
}

#keyboard-state label{
  margin-right: 0.5rem;
  color:@surface0;
  margin-right: 0.5rem;
}

#keyboard-state label.locked{
  color:white;
  margin-right: 0.5rem;
}


